<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmpt276.assignment3.diamondseeker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiamondSeeker"
        android:fullBackupOnly="true">
        <activity
            android:name=".PlayGame"
            android:exported="true"
            android:label="Game"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".OptionsPage"
            android:exported="true"
            android:label="Options"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".HelpPage"
            android:exported="true"
            android:label="Help"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".MainMenu"
            android:exported="true"
            android:label="Main Menu"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:label="Diamond Seeker"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>